<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body class="pa5">
    <%- include ('../partials/header.ejs') %>
    <%- include ('../partials/search.ejs') %>
    <ul class="list">
      <% posts.forEach((post, i) => { %>
        <li class="ph3 pt5 f1 fw5">
          <a class="db" href="/posts/<%= post.id %>"><%= post.title %></a>
          <img class="pt3 pr3" src="<%= post.image %>" alt="">
          <span class="f3"><%= post.body %></span>
          <br>
          <span class="f3 ph4">Tags: <%= post.tags %></span>
          <br>
          <span class="f4"><%= posts.updatedAt %></span>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
