<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body class="pa5">
    <%- include ('../partials/header.ejs') %>
    <h1 class="ph3 pt3 f1"><%= post.title %></h1>
    <div class="ph3">
      <%= post.body %>
    </div>
    <a class="link" href="/posts/<%= post.id %>/edit">Edit</a>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
      <input class="ba bw0 bg-white blue dim" type="submit" name="" value="Delete">
    </form>
  </body>
</html>
