<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body class="pa5">
    <%- include ('../partials/header.ejs') %>
    <h1 class="ph3 pt3 f1"><%= post.title %></h1>
    <div class="ph3">
      <%= post.body %>
    </div>
    <button class="fl mt1 mr1 ml3" type="button" name="button"><a class="link black" href="/posts/<%= post.id %>/edit">Edit</a></button>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
      <input class="mt1" type="submit" name="" value="Delete">
    </form>
  </body>
</html>
